/bin/classes.dex
/bin/CodelearnTwitterApp.apk
/bin/dexedLibs/android-support-v4-f2bb92c39751a3bebd1f2d40d13324b8.jar
/bin/jarlist.cache
/bin/res/crunch/drawable-hdpi/ic_launcher.png
/bin/res/crunch/drawable-mdpi/ic_launcher.png
/bin/res/crunch/drawable-mdpi/user_profile.png
/bin/res/crunch/drawable-xhdpi/ic_launcher.png
/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
/bin/resources.ap_
